#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
    grid-gap: 1em;
    height: min-content;
}
#information{
    background: #be8ef0;
    border-radius: 30px;
}
#editor{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}
#compiler{  
    border-radius: 30px;
}
#result{
    padding: 2.5%;
    background: #e5d2f9;
    border-radius: 30px;
}
#view{
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 10px;
}

.ace_editor .ace_marker-layer .ace_bracket { display: none }