#designer-kit{
    opacity: 0.8;
    width: 20em;
    height: 20em;
    background-color: gray;
    z-index: 10;
    cursor: move;
    overflow-x: scroll;
    overflow-y: scroll;
    position: fixed;
}

#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1em;
    min-height: 40em;
}
.block{
    border-radius: 30px;
    height: 40em;
    background: #be8ef0;
    padding: 5%;
    cursor: pointer;
    
    opacity: 0.9;
}
.block:nth-child(even){
    background: #e5d2f9;
}
.block:hover{
    transition: 1s;
    opacity: 1;
}
#technology-markup-block{
    border-radius: 30px;
    min-height: 40em;
    padding: 5%;

    display: grid;
    grid-template-rows: minmax(25em, max-content) max-content minmax(10em, max-content);
    justify-items: center;
    
    opacity: 0.9;
}
#technology-m-image-a{
    max-height:20em;
    max-width:20em;
    margin: auto;
    cursor: pointer;
}

#member-block{
    border-radius: 30px;
    min-height: 40em;
    padding: 5%;

    display: grid;
    grid-template-rows: minmax(25em, max-content) max-content minmax(10em, max-content);
    justify-items: center;
    
    opacity: 0.9;
}
#member-image{
    max-height:20em;
    max-width:20em;
    border-radius: 20em;
    margin: auto;
}
