#container{
    display: grid;
    height: 100%;
    grid-template-rows: max-content max-content;
    grid-gap: 1em;
}
#slide-show{
    width: 100%;
    display: grid;
    justify-items: center;
    height: 40em;
    /* grid-template-columns: max-content 1fr max-content;
    grid-gap: 1em;
    justify-items: center; */
}
#slide-image{
    width: 100%;
    height: 40em;
}
.slide-button{
    width: 5em;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    border-radius: 20px;
    background: #d1c0e2;
    opacity: 0.5;
}
.slide-button:hover{
    transition: 1s;
    opacity: 0.8;
}
#slide-dots{
    width: max-content;
    z-index: 5;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    top: -4em;
    text-align: center;
}
.slide-dot{
    display: inline-block;
    margin: 1em;
    height: 0.4em;
    width: 3em;
    background: white;
    /* border-radius: 1em; */
    opacity: 0.6;
    cursor: pointer;
}
.slide-dot:hover{
    opacity: 1;
}
.slide-dot-active{
    display: inline-block;
    margin: 1em;
    height: 0.4em;
    width: 3em;
    background: yellow;
    /* border-radius: 1em; */
    opacity: 1;
    cursor: pointer;
}