body{
    background-image: url(./src/img/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: grid;
    grid-template-rows: max-content 1fr 15em;
    grid-gap: 1em;
}
#header{
    opacity: 0.8;
    display: grid;
    grid-template-rows: max-content 1fr;
}
#header:hover{
    transition: 1s;
    opacity: 1;   
}
#project-info{
    display: grid;
    grid-template-columns: max-content 1fr;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #8b59c0;
}
#title{
    color: white;
    margin: auto;
}
#logo{
    height: 6em;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    opacity: 1;
}
#nav-bar{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    grid-gap: 1em;
    justify-items: center;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #833fcc;
}
.nav-item{
    padding: 5%;
    width: 80%;
    font-size: 1.5em;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.nav-item:hover{
    background: rgb(104, 0, 165);
    color: yellow;
}
#footer{
    opacity: 0.8;
    border-radius: 30px;
    background: #d1c0e2;
}
#footer:hover{
    transition: 1s;
    opacity: 1;
}