#container{
    width: 100%;

    display: grid;
    grid-template-rows: max-content 1fr;

    grid-gap: 1em;
}
#editor-info{
    background-color: rgb(64, 10, 78);
    color: white;
    height: 5em;
    text-align: center;
    border-radius: 1em;
    font-family: Arial;

    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
}
#submit{
    margin: auto;
    height: 4em;
    width: 90%;
    border-radius: 0.5em;
    font-size: 1em;
    border: 0;
}
#button-text{
    margin: auto;
}
#submit:hover{
    background: rgb(64, 219, 64);
    color: white;
}
#editor-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 40em;
}
#editor{  
    border-radius: 30px;
}
#view{
    padding: 2.5%;
    background: #e5d2f9;
    border-radius: 30px;

    display: grid;
    grid-template-rows: max-content 1fr;
}

.ace_editor .ace_marker-layer .ace_bracket { display: none }